
.Knowledge {
    padding: 80px 0;
    position: relative;
    background-color: #004b7a;
    height: 55vw;
    
  }
  .Knowledge h2 {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  .Knowledge p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px auto 30px auto;
    text-align: center;
    width: 56%;
  }
  
  /* Tabs */
  .tabs {
    margin-top: 20px;
  }
  
  .tab-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background-color: rgb(255 255 255 / 10%);
    border-radius: 50px;
    overflow: hidden;
  }
  
  .tab-button {
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    padding: 17px 0;
    cursor: pointer;
    flex: 1;
    text-align: center;
    font-size: 17px;
    letter-spacing: 0.8px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 0;
  }
  
  .tab-button::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(90.21deg, #004b7a -5.91%, #004b7a 111.58%);
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s ease-in-out;
  }
  
  .tab-button.active::before {
    width: 100% !important;
  }
  
  .tab-button.active {
    border: 1px solid rgba(255, 255, 255, 1);
  }
  
  .tab-button:first-child {
    border-radius: 50px 0 0 50px;
  }
  
  .tab-button:last-child {
    border-radius: 0 50px 50px 0;
  }
  
  .tab-content {
    display: block;
  }
  

  #first{
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #third{
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #second{
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .box.active {
    display: block;
  }
  
  /* Background Image */
  .background-image-right {
    top: 20%;
    position: absolute;
    bottom: 0;
    width: 35%;
    right: 0;
    z-index: -4;
  }
  
  /* Card Hover Effects */
  .proj-imgbx {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 24px;
  }
  .proj-imgbx::before {
    content: "";
    background: linear-gradient(90.21deg, #00629e -5.91%, #004b7a 111.58%);
    opacity: 0.85;
    position: absolute;
    width: 100%;
    height: 0;
    transition: 0.4s ease-in-out;
  }
  .proj-imgbx:hover::before {
    height: 100%;
  }
  .proj-txtx {
    position: absolute;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
    opacity: 0;
    width: 100%;
  }
  .proj-imgbx:hover .proj-txtx {
    top: 50%;
    opacity: 1;
  }
  .proj-txtx h4 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.1em;
  }
  .proj-txtx span {
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.8px;
  }
  
  /* Animations */
  .animate__animated {
    animation-duration: 1s;
  }
  
  .animate__fadeIn {
    animation-name: fadeIn;
  }
  
  .animate__slideInUp {
    animation-name: slideInUp;
  }
  
  /* Keyframes */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideInUp {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* Contact Section */
  .contact {
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    padding: 60px 0 200px 0;
  }
  .contact img {
    width: 92%;
  }
  .contact h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .contact form input,
  .contact form textarea {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    color: #fff;
    margin: 0 0 8px 0;
    padding: 18px 26px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.8px;
    transition: 0.3s ease-in-out;
  }
  .contact form input:focus,
  .contact form textarea:focus {
    background: rgba(255, 255, 255, 1);
    color: #121212;
  }
  .contact form input::placeholder,
  .contact form textarea::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
  }
  .contact form input:focus::placeholder,
  .contact form textarea:focus::placeholder {
    color: #121212;
    opacity: 0.8;
  }
  .contact form button {
    font-weight: 700;
    color: #000;
    background-color: #fff;
    padding: 14px 48px;
    font-size: 18px;
    margin-top: 25px;
    border-radius: 0;
    position: relative;
    transition: 0.3s ease-in-out;
  }
  .contact form button span {
    z-index: 1;
    position: relative;
  }
  .contact form button:hover {
    color: #fff;
  }
  .contact form button::before {
    content: "";
    background: #121212;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.3s ease-in-out;
  }
  .contact form button:hover::before {
    width: 100%;
  }

  .cursosContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

  }