.ServiciosMainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw;
  min-height: 5vw;
  color: #ffffff;
  font-family: "Open Sans", serif;
  
  padding: 4rem 0 0 0 ;
}

.ServiciosMainContainer h2 {
  color: #004b7a;
  font-family: "Open Sans", serif;
  font-weight: 700;
  font-size: 3.5rem;
  border-bottom: 2px solid #004b7a;
  margin-bottom: 4rem;
}

.servicios-container,
.cursos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 0 0 3rem 0;
  width: 90vw;
}

.servicio,
.curso {
  width: 20vw;
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  background-color: #0351be;
  color: #ffffff;
  font-size: 1.625rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
  transition: transform 0.3s ease-in-out;
  @media (max-width: 800px) {
    width: 250px
  }
}

.servicio:hover .descripcion,
.curso:hover .descripcion {
  opacity: 1;
  visibility: visible;
}

.descripcion {
  visibility: visible;
  position: absolute;
  top: 100%;
  left: 96%;
  width: 100%;
  background-color: #fffffff1;
  color: #000000;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 100;
  @media (max-width: 1400px) {
    top: 100%;
  }

  @media (max-width: 850px) {
    left: 0;;
  }
}


.box1, .box2 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}


.box2{
  margin: 7rem 0 0 0;
  text-align: center;
}

.box2 h2{
  color: #004b7a;
  border-bottom: 2px solid black;
  text-shadow: .5008px -1px 1px #dcc659;
}

.certificado{
  margin-top: 2rem;
  width: 40vw;
  height: auto;

  @media (max-width: 800px) {
    width: 75vw;
  }
}
