
.navbarContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    margin: 0 0 3vw 0;
    padding: 1.5625rem 0;
    height: 95px;
    top: 0;
    z-index: 9999;
    transition: 0.32 ease-in-out;
    background-color: #004b7a;
    letter-spacing: .8px;
    @media (max-width: 50rem) {
      padding: 0 25px;
      justify-content: center;
    }

}



.links{
  display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center  ;
        flex-wrap: wrap;
      }
      
      
      
      
      .navbarContainer a{
        margin: 3px;
        padding: 0;
        letter-spacing: .8px;
      }
      
      .navbarContainer a:hover{
        opacity: 1;
      }

      
      
      .navbar-link{
        
        min-width: 5vw;
        height: 29.2px;
        border-right: .8px solid #8bacc2;
    color: #fff;
    display: inline-flex;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
    padding: .0625rem;
    font-size: 16px;
    
    
    @media (max-width:1200px) {
      font-weight: 200;
      font-size: .6rem;
      width: 4.6875rem;
      height: 1.5625rem;
    }
  }
  
  .contactMobile{
    display: none;
    min-width: 7vw;
    height: 32px;
    background: rgba(217, 217, 217, 0.1);
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: .8px solid #8bacc2cc;
    text-decoration: none;
  font-weight: 200;
  font-family: "Poppins", serif;
  padding: .0625rem;
  font-size: 1rem;
    @media (max-width:62.5rem) {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: .6rem;
      padding: .1875rem;
    }
  }
  
  .NavSocialIconsContainer{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 300px;
  @media (max-width:62.5rem) {
    display: none;
  }
}

.NavSocialIconsContainerMobile{

  display: none;
  
  @media (max-width:62.5rem) {
   display: block; 
  }
}
  

.NavSocialIconsContainer a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: flex; 
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: .0625rem solid rgba(255, 255, 255, 0.5);
  
}

.NavSocialIconsContainer a:hover{
    background-color: #737373;

  }
  .logoContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #dcb672;
    text-shadow: 1.5008px -0.8px 1px  #e1ff00;
    text-shadow: 1px 1px 2px #e1ff00ee;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    
    @media (max-width:75rem) {
      font-weight: 500;
      font-size: .5rem;
      flex-direction: column;
      align-items: start;
    }
  }

  
  .logo{
  width: 3vw;
  aspect-ratio: 9/7;
  margin: 0 1rem 0 0;
  background-color: #004b7a;
  border-radius: 50%;
  padding: .25rem;
  @media (max-width: 62.5rem) {
    
    width: 3.125rem
  };  

  @media (max-width:50rem) {
    display: none;
  }  



}  

.contactUsBtn{
  width: 80px;
  height: 48px;
}  

.NavSocialIconsContainer a:hover::before{
    transform: scale(1);
}    

.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}  
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}  
.links button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 1.125rem;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
  @media (max-width:1200px) {
    font-weight: 500;
    font-size: .5rem;
  }  
}  
.links button span {
  z-index: 1;
}  
.links button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}  
.links button:hover {
  color: #121212;
}  




.burguerBtn{
display: none;
}