.formContainer{
  width: 100%;
  min-height: 18vw;
  margin:  0  ;
  padding: 0;
  border: 1px solid #ccc;
  background-color: #004b7a;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", serif;
  letter-spacing: .8px;
  
}

.formContainer form {
  width: 33vw;
  border: 2px solid #ccc;
  text-align: start;
  padding: 0 1.25rem 0 1.25rem;
  color: #ccc;
  @media (max-width: 1300px) {
    width: 60vw;
  }
}

label {
  display: block;
  margin-bottom: .3125rem;
}

input,
textarea {
  width: 100%;
  padding: .3125rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

textarea {
  height: 4.875rem;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  
  
}

